*{
    margin: 0;
    margin-left: 5px;
    padding: 0;
}

header {
    height: 100px;
    background: url('img/pattern.png');
    background-size: contain;
    background-size: 200px;
    background-color: rgb(32, 100, 136)

}

.img-logo{
 width: 200px;
 padding-top: 40px;
}

.title{
    font-size: 60px;
    font-weight: bolder;
    text-align: justify;
    margin-top: 5px;
}

.the-booleaner{
    text-decoration: none;
    color: rgb(88, 203, 241);
    font-size: 20px;
    font-weight: 600;
}

.highlighted-text{
    background: yellow;
}

p{
    margin-top: 20px;
    margin-bottom: 30px;
}

ul{
    margin-left: 35px;
    margin-bottom: 40px;
}

    

th, tr{
    width: 500px;
    text-align: left;
}

th{
    background-color: rgb(19, 118, 163);
    color: white;
}

.special-row{
    background-color: lightblue;
}

.pot-interessarti{
    color: gray;
    font-size: 20px;
    font-weight: bold;
}

.immagine {
    position: relative;
    margin: 10px;
}

.text-image{
    position: absolute;
    top: 0;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: whitesmoke;
}